#footer h4 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  font-size:12pt;
  color: #7c7c7c;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
}

#footer {
  color: @text-color;
  background: @navbar-inverse-bg;
  border-top: 1px solid darken(@navbar-inverse-bg, 10%);
  height: 300px;
  width: 100%;
  margin-top: 0;
}

@media (max-width: 1310px) {
  #footer {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #footer {
    height: 400px;
  }
}

#footer a,
#footer a:visited {
  color: @navbar-inverse-link-color;
}

#footer a:active,
#footer a:hover {
  //  color: @navbar-inverse-link-hover-color
}

#footer ul {
  display: block;
  margin:0 auto 1em;
}

#footer ul, #footer li {
  list-style: outside none none;
  padding: 0;
}

ul#f-list {
  line-height: 1.6em;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}

ul#f-list li {
  margin: 0 1.3em;
}

#footer-logo-big {
  background-image: url('../images/lp_logo_big.png');
  background-repeat: no-repeat;
  background-size: 150px;
  display: block;
  height: 150px;
  text-align: center;
  margin-top: 13px;
}

ul#footer-social-media li {
  max-height: 32px;
  height: 32px;
  line-height: 34px;
  overflow: hidden; // important, fixing bug (?) in FF

  &> a {
    zoom: 0.125;
    -moz-transform: scale(0.125);
    -moz-transform-origin: 0 0;
    background-repeat: no-repeat;
    display: block;
  }
}

a.social-icon {
  background-image: url('../images/infoboxicon_sprite.png');
  width: 256px;
  height: 256px;

  &> span.social-link {
    line-height: 256px;
    padding-left: 300px;
    font-size: 8em;
  }
}

a.facebook-icon {
  background-position: calc(-9 * 256px - 1px) -257px;
}
a.facebook-icon:hover,
a.facebook-icon:active {
  background-position: calc(-9 * 256px - 1px) 0;
}
a.twitch-icon {
  background-position: calc(-20 * 256px - 1px) -257px;
}
a.twitch-icon:hover,
a.twitch-icon:active  {
  background-position: calc(-20 * 256px - 1px) 0;
}
a.twitter-icon {
  background-position: calc(-21 * 256px - 1px) -257px;
}
a.twitter-icon:hover,
a.twitter-icon:active {
  background-position: calc(-21 * 256px - 1px) 0;
}
a.youtube-icon {
  background-position: calc(-25 * 256px - 1px) -257px;
}
a.youtube-icon:hover,
a.youtube-icon:active {
  background-position: calc(-25 * 256px - 1px) 0;
}
a.github-icon {
  background-position: calc(-26 * 256px - 1px) -257px;
}
a.github-icon:hover,
a.github-icon:active {
  background-position: calc(-26 * 256px - 1px) 0;
}