@lp-icon-size: 32px;

.lp-icon {
	background: url('../images/infoboxicon_sprite.png') no-repeat 0 0;
	display: inline-block;
	width: @lp-icon-size;
	height: @lp-icon-size;
	overflow: hidden;
	background-size: auto 128px; /* also change in footer.less at a.social-icon, 4 * @lp-icon-size */
	vertical-align: middle;

	/* row 1, first icon (index 0) is error to prevent typos */
	&.lp-aligulac {
		background-position: calc(-1 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-aligulac:hover {
		background-position: calc(-1 * @lp-icon-size) 0;
	}

	&.lp-ask-fm {
		background-position: calc(-2 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-ask-fm:hover {
		background-position: calc(-2 * @lp-icon-size) 0;
	}

	&.lp-azubu {
		background-position: calc(-3 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-azubu:hover {
		background-position: calc(-3 * @lp-icon-size) 0;
	}

	&.lp-binary-beast {
		background-position: calc(-4 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-binary-beast:hover {
		background-position: calc(-4 * @lp-icon-size) 0;
	}

	&.lp-challonge {
		background-position: calc(-5 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-challonge:hover {
		background-position: calc(-5 * @lp-icon-size) 0;
	}

	&.lp-datdota {
		background-position: calc(-6 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-datdota:hover {
		background-position: calc(-6 * @lp-icon-size) 0;
	}

	&.lp-dotabuff {
		background-position: calc(-7 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-dotabuff:hover {
		background-position: calc(-7 * @lp-icon-size) 0;
	}

	&.lp-email {
		background-position: calc(-8 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-email:hover {
		background-position: calc(-8 * @lp-icon-size) 0;
	}

	&.lp-facebook {
			 background-position: calc(-9 * @lp-icon-size) -@lp-icon-size;
		 }

	&.lp-facebook:hover {
		background-position: calc(-9 * @lp-icon-size) 0;
	}

	&.lp-faceit {
		background-position: calc(-10 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-faceit:hover {
		background-position: calc(-10 * @lp-icon-size) 0;
	}

	&.lp-google-plus {
		background-position: calc(-11 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-google-plus:hover {
		background-position: calc(-11 * @lp-icon-size) 0;
	}

	&.lp-reddit {
			 background-position: calc(-12 * @lp-icon-size) -@lp-icon-size;
		 }

	&.lp-reddit:hover {
		background-position: calc(-12 * @lp-icon-size) 0;
	}

	&.lp-skype {
		background-position: calc(-13 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-skype:hover {
		background-position: calc(-13 * @lp-icon-size) 0;
	}

	&.lp-smashboards {
		background-position: calc(-14 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-smashboards:hover {
		background-position: calc(-14 * @lp-icon-size) 0;
	}

	&.lp-smash-gg {
		background-position: calc(-15 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-smash-gg:hover {
		background-position: calc(-15 * @lp-icon-size) 0;
	}

	&.lp-steam {
		background-position: calc(-16 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-steam:hover {
		background-position: calc(-16 * @lp-icon-size) 0;
	}

	&.lp-tencent {
		background-position: calc(-17 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-tencent:hover {
		background-position: calc(-17 * @lp-icon-size) 0;
	}

	&.lp-toornament {
		background-position: calc(-18 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-toornament:hover {
		background-position: calc(-18 * @lp-icon-size) 0;
	}

	&.lp-tournament {
		background-position: calc(-19 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-tournament:hover {
		background-position: calc(-19 * @lp-icon-size) 0;
	}

	&.lp-twitch {
		background-position: calc(-20 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-twitch:hover {
		background-position: calc(-20 * @lp-icon-size) 0;
	}

	&.lp-twitter {
		background-position: calc(-21 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-twitter:hover {
		background-position: calc(-21 * @lp-icon-size) 0;
	}

	&.lp-vkontakte {
		background-position: calc(-22 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-vkontakte:hover {
		background-position: calc(-22 * @lp-icon-size) 0;
	}

	&.lp-home {
		background-position: calc(-23 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-home:hover {
		background-position: calc(-23 * @lp-icon-size) 0;
	}

	&.lp-weibo {
		background-position: calc(-24 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-weibo:hover {
		background-position: calc(-24 * @lp-icon-size) 0;
	}

	&.lp-youtube {
		background-position: calc(-25 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-youtube:hover {
		background-position: calc(-25 * @lp-icon-size) 0;
	}

	&.lp-github {
		background-position: calc(-26 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-github:hover {
		background-position: calc(-26 * @lp-icon-size) 0;
	}

	&.lp-instagram {
		background-position: calc(-27 * @lp-icon-size) -@lp-icon-size;
	}

	&.lp-instagram:hover {
		background-position: calc(-27 * @lp-icon-size) 0;
	}

	/* row 2 */
	&.lp-stream {
		background-position: 0 calc(-@lp-icon-size * 3);
	}

	&.lp-stream:hover {
		background-position: 0 calc(-@lp-icon-size * 2);
	}

	&.lp-tlstream {
		background-position: calc(-1 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlstream:hover {
		background-position: calc(-1 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-fanclub {
		background-position: calc(-2 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-fanclub:hover {
		background-position: calc(-2 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-tlpd-hots {
		background-position: calc(-3 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlpd-hots:hover {
		background-position: calc(-3 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-tlpd {
		background-position: calc(-4 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlpd:hover {
		background-position: calc(-4 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-tlpd-wol {
		background-position: calc(-4 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlpd-wol:hover {
		background-position: calc(-4 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-tlpd-wol-korea {
		background-position: calc(-5 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlpd-wol-korea:hover {
		background-position: calc(-5 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-tlpd-sospa {
		background-position: calc(-6 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-tlpd-sospa:hover {
		background-position: calc(-6 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-gosugamers {
		background-position: calc(-7 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-gosugamers:hover {
		background-position: calc(-7 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-bracket {
		background-position: calc(-8 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-bracket:hover {
		background-position: calc(-8 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}

	&.lp-afreeca {
		background-position: calc(-9 * @lp-icon-size) calc(-@lp-icon-size * 3);
	}

	&.lp-afreeca:hover {
		background-position: calc(-9 * @lp-icon-size) calc(-@lp-icon-size * 2);
	}
}