

.lp-icon {
  background: url('../images/infoboxicon_sprite.png') no-repeat 0 0;
  display: block;
  width: 256px;
  height: 256px;
  overflow: hidden;
  zoom: 0.125;
  -moz-transform: scale(0.125);
  -moz-transform-origin: 0 0;

  &.lp-afreeca {
    background-position: 0 -257px;
  }

  &.lp-afreeca:hover {
    background-position: 0 0;
  }

  &.lp-aligulac {
    background-position: calc(-1 * 256px - 1px) -257px;
  }

  &.lp-aligulac:hover {
    background-position: calc(-1 * 256px - 1px) 0;
  }

  &.lp-ask-fm {
    background-position: calc(-2 * 256px - 1px) -257px;
  }

  &.lp-ask-fm:hover {
    background-position: calc(-2 * 256px - 1px) 0;
  }

  &.lp-azubu {
    background-position: calc(-3 * 256px - 1px) -257px;
  }

  &.lp-azubu:hover {
    background-position: calc(-3 * 256px - 1px) 0;
  }

  &.lp-binary-beast {
    background-position: calc(-4 * 256px - 1px) -257px;
  }

  &.lp-binary-beast:hover {
    background-position: calc(-4 * 256px - 1px) 0;
  }

  &.lp-challonge {
    background-position: calc(-5 * 256px - 1px) -257px;
  }

  &.lp-challonge:hover {
    background-position: calc(-5 * 256px - 1px) 0;
  }

  &.lp-datdota {
    background-position: calc(-6 * 256px - 1px) -257px;
  }

  &.lp-datdota:hover {
    background-position: calc(-6 * 256px - 1px) 0;
  }

  &.lp-dotabuff {
    background-position: calc(-7 * 256px - 1px) -257px;
  }

  &.lp-dotabuff:hover {
    background-position: calc(-7 * 256px - 1px) 0;
  }

  &.lp-email {
    background-position: calc(-8 * 256px - 1px) -257px;
  }

  &.lp-email:hover {
    background-position: calc(-8 * 256px - 1px) 0;
  }

  &.lp-facebook {
       background-position: calc(-9 * 256px - 1px) -257px;
     }

  &.lp-facebook:hover {
    background-position: calc(-9 * 256px - 1px) 0;
  }

  &.lp-feceit {
    background-position: calc(-10 * 256px - 1px) -257px;
  }

  &.lp-feceit:hover {
    background-position: calc(-10 * 256px - 1px) 0;
  }

  &.lp-google-plus {
    background-position: calc(-11 * 256px - 1px) -257px;
  }

  &.lp-google-plus:hover {
    background-position: calc(-11 * 256px - 1px) 0;
  }

  &.lp-reddit {
       background-position: calc(-12 * 256px - 1px) -257px;
     }

  &.lp-reddit:hover {
    background-position: calc(-12 * 256px - 1px) 0;
  }

  &.lp-skype {
    background-position: calc(-13 * 256px - 1px) -257px;
  }

  &.lp-skype:hover {
    background-position: calc(-13 * 256px - 1px) 0;
  }

  &.lp-smashboards {
    background-position: calc(-14 * 256px - 1px) -257px;
  }

  &.lp-smashboards:hover {
    background-position: calc(-14 * 256px - 1px) 0;
  }

  &.lp-smash-gg {
    background-position: calc(-15 * 256px - 1px) -257px;
  }

  &.lp-smash-gg:hover {
    background-position: calc(-15 * 256px - 1px) 0;
  }

  &.lp-steam {
    background-position: calc(-16 * 256px - 1px) -257px;
  }

  &.lp-steam:hover {
    background-position: calc(-16 * 256px - 1px) 0;
  }

  &.lp-tencent {
    background-position: calc(-17 * 256px - 1px) -257px;
  }

  &.lp-tencent:hover {
    background-position: calc(-17 * 256px - 1px) 0;
  }

  &.lp-toornament {
    background-position: calc(-18 * 256px - 1px) -257px;
  }

  &.lp-toornament:hover {
    background-position: calc(-18 * 256px - 1px) 0;
  }

  &.lp-tournament {
    background-position: calc(-19 * 256px - 1px) -257px;
  }

  &.lp-tournament:hover {
    background-position: calc(-19 * 256px - 1px) 0;
  }

  &.lp-twitch {
    background-position: calc(-20 * 256px - 1px) -257px;
  }

  &.lp-twitch:hover {
    background-position: calc(-20 * 256px - 1px) 0;
  }

  &.lp-twitter {
    background-position: calc(-21 * 256px - 1px) -257px;
  }

  &.lp-twitter:hover {
    background-position: calc(-21 * 256px - 1px) 0;
  }

  &.lp-vkontakte {
    background-position: calc(-22 * 256px - 1px) -257px;
  }

  &.lp-vkontakte:hover {
    background-position: calc(-22 * 256px - 1px) 0;
  }

  &.lp-home {
       background-position: calc(-23 * 256px - 1px) -257px;
     }

  &.lp-home:hover {
    background-position: calc(-23 * 256px - 1px) 0;
  }

  &.lp-weibo {
    background-position: calc(-24 * 256px - 1px) -257px;
  }

  &.lp-weibo:hover {
    background-position: calc(-24 * 256px - 1px) 0;
  }

  &.lp-youtube {
    background-position: calc(-25 * 256px - 1px) -257px;
  }

  &.lp-youtube:hover {
    background-position: calc(-25 * 256px - 1px) 0;
  }

  &.lp-github {
    background-position: calc(-26 * 256px - 1px) -257px;
  }

  &.lp-github:hover {
    background-position: calc(-26 * 256px - 1px) 0;
  }

  &.lp-instagram {
    background-position: calc(-27 * 256px - 1px) -257px;
  }

  &.lp-instagram:hover {
    background-position: calc(-27 * 256px - 1px) 0;
  }
}

.lp-icon:hover {
  cursor: pointer;
}